<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <passwordRecovery  argsType="Sitecore.Pipelines.PasswordRecovery.PasswordRecoveryArgs">

        <processor patch:instead="processor[@type='Sitecore.Pipelines.PasswordRecovery.VerifyUsername, Sitecore.Kernel']"
            mode="on" type="Sitecore.Feature.PasswordSms.Pipelines.VerifyUserName, Sitecore.Feature.PasswordSms" />

        <processor patch:instead="processor[@type='Sitecore.Pipelines.PasswordRecovery.PopulateMail, Sitecore.Kernel']"
        mode="on" type="Sitecore.Feature.PasswordSms.Pipelines.PopulateSms, Sitecore.Feature.PasswordSms" />

        <processor patch:instead="processor[@type='Sitecore.Pipelines.PasswordRecovery.SendPasswordRecoveryMail, Sitecore.Kernel']"
        mode="on" type="Sitecore.Feature.PasswordSms.Pipelines.SendPasswordRecoverySms, Sitecore.Feature.PasswordSms" />
      </passwordRecovery >
    </processors>
  </sitecore>
</configuration>